@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#02b8e2));
  background: linear-gradient(to bottom, black, #02b8e2); }
  body h1 {
    color: blue;
    font-size: 100px;
    margin: 30px;
    font-family: Festive; }

.images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .images .img {
    width: 200px;
    height: 200px;
    background: url(../images/img.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px; }

@media (min-width: 800px) {
  .img {
    width: 300px !important;
    height: 300px !important; } }
